// http://materializecss.com/

.btn-main
    position: fixed
    bottom: 2rem
    right: 2rem

.grid
    max-width: 400px
    width: 100%
    margin: 0 auto

.item
    box-sizing: border-box
    display: block
    float: left
    width: 33%
    border: 1px solid white
    color: white
    position: relative

    i
        font-size: 3rem

    &::before
        content: ''
        display: block
        padding-top: 100%

.item-content
    top: 0
    left: 0
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    position: absolute
    z-index: 1
    height: 100%
    width: 100%

.item-title
    font-weight: 200
    font-size: 1.2rem

.category-title
    font-size: 1.5rem
    font-weight: 200
    color: white
    margin: 0
    width: 100%
    text-align: center

.hero
    color: white
    text-align: center
    font-size: 5rem

    i
        margin-left: -2.5rem

.detail-desc
    font-size: 1.5rem
    padding: 0 1rem

    li
        padding: 0.1rem 0.5rem

.share-button
    width: 100%
    margin-top: 2rem

.iconnav
    position: relative
    z-index: 1
